<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnet.tms.mapper.LnetOrderReceiptMapper">
    <resultMap id="BaseResultMap" type="com.lnet.model.tms.order.orderEntity.LnetOrderReceipt">
        <id column="RECEIPT_ID" property="receiptId" jdbcType="VARCHAR"/>
        <result column="LNET_ORDER_NO" property="lnetOrderNo" jdbcType="VARCHAR"/>
        <result column="UPLOADED_TIME" property="uploadedTime" jdbcType="TIMESTAMP"/>
        <result column="UPLOADED_USER_ID" property="uploadedUserId" jdbcType="VARCHAR"/>
        <result column="CONTENT_TYPE" property="contentType" jdbcType="VARCHAR"/>
        <result column="FILE_NAME" property="fileName" jdbcType="NVARCHAR"/>
        <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR"/>
        <result column="THUMB_PATH" property="thumbPath" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RECEIPT_ID, LNET_ORDER_NO, UPLOADED_TIME, UPLOADED_USER_ID, CONTENT_TYPE, FILE_NAME,
        FILE_PATH, THUMB_PATH
    </sql>

    <insert id="insert" parameterType="com.lnet.model.tms.order.orderEntity.LnetOrderReceipt">
        INSERT INTO LNET_ORDER_RECEIPT (<include refid="Base_Column_List"/>)
        VALUES (#{receiptId,jdbcType=VARCHAR}, #{lnetOrderNo,jdbcType=VARCHAR}, #{uploadedTime,jdbcType=TIMESTAMP},
        #{uploadedUserId,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, #{fileName,jdbcType=NVARCHAR},
        #{filePath,jdbcType=VARCHAR}, #{thumbPath,jdbcType=VARCHAR})
    </insert>

    <insert id="batchInsert" parameterType="com.lnet.model.tms.order.orderEntity.LnetOrderReceipt">
        INSERT INTO LNET_ORDER_RECEIPT(<include refid="Base_Column_List"/>)
        <foreach collection="list" item="item" index="index" open="(" close=")" separator="UNION ALL">
            SELECT
            #{item.receiptId,jdbcType=VARCHAR},
            #{item.lnetOrderNo,jdbcType=VARCHAR},
            #{item.uploadedTime,jdbcType=TIMESTAMP},
            #{item.uploadedUserId,jdbcType=VARCHAR},
            #{item.contentType,jdbcType=VARCHAR},
            #{item.fileName,jdbcType=NVARCHAR},
            #{item.filePath,jdbcType=VARCHAR},
            #{item.thumbPath,jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
    </insert>

    <select id="getByLnetOrderNo" parameterType="string" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM LNET_ORDER_RECEIPT WHERE LNET_ORDER_NO = #{lnetOrderNo,jdbcType=VARCHAR}
    </select>
</mapper>